:root {
    --btn-del: var(--red-56);
    --classCode_value: var(--cyan-blue-38);
}

.mainClass_container {
    max-width: 80rem;
    padding: 2.5rem calc(50vw - 41.1875em) 2.5rem 0;
}

.mainClassHeader_icon {
    color: #939bb4;
}

.mainClass_title {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.26;
    overflow-wrap: break-word;
}

.mainClass_navbar {
    border-bottom: 0.15rem solid #edeff4;
}

.mainClass_navlink {
    font-size: 0.875rem;
    letter-spacing: normal;
    line-height: 1.43;
    color: #586380;
    font-weight: 600;
    min-height: 2.5rem;
    margin: 0 1rem;
    margin-bottom: -0.11rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.mainClass_navlink.active {
    color: #282e3e;
    border-bottom: 0.15rem solid #4255ff;
}

.mainClass_container .btn.show {
    color: initial;
}

.mainClass_container .btn-del {
    color: var(--btn-del);
}

.mainClass_section {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #fff;
    margin-top: 20px;
}

.mainClass_wrapper2 {
    color: #fff;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.classCode_container {
    color: var(--classCode_value);
}

.mainClass_sectionTitle {
    letter-spacing: 0.2;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.mainClass_sectionButton {
    margin: -0.75rem;
}

.classCode_value {
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    color: var(--classCode_value);
}

.mainClass_subText {
    margin-top: 1.5rem;
    color: #807373;
    font-weight: 400;
}

.mainClass_status {
    border: 1.5px solid #dadce0;
    padding: 20px;
    border-radius: 10px;
    width: 15vw;
    height: 25vh;
}

.mainClass_postAddContainer {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
    min-height: 4.5rem;
    padding: 1.875rem;
}

.postTextEditor .ck.ck-editor__editable_inline {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    padding: 0.625rem 1rem;
    min-height: 10rem;
}

.postTextEditor .ck.ck-editor__editable_inline:hover {
    background-color: #f1f3f4;
}

.mainClass_wrapper100 {
    display: flex !important;
    cursor: pointer;
    align-items: center;
}

.mainClass_wrapper100 > * {
    margin-right: 20px;
}

#filled-multiline-flexible {
    width: 53.5vw !important;
    height: 20vh !important;
    border-radius: 5px;
    border: none;
}

.postUpload {
    opacity: 0;
    display: none;
}

.postUploadButton {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: rgb(25, 103, 210);
    background-color: transparent;
    border: 0.0625rem solid #e8eaed;
}

.postUploadButton:hover {
    background-color: #f6f9fd;
}

.fileUploadName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.00625rem;
    font-size: 1rem;
    font-weight: 500;
}

.fileUploadType {
    letter-spacing: 0.014rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.btn.fileUploadDelButton:hover {
    color: var(--red-64);
}

.postUploadFile button {
    margin-right: 15px;
    border: none;
    padding: 5px 13px;
    border-radius: 5px;
}
