.createClass__form {
    background: #e7e7e7;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.createClass__form:target {
    visibility: visible;
    opacity: 1;
}

.createClass__form__inputs {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 15px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.createClass__title {
    font-size: 30px;
    text-align: center;
}

.createClass__close {
    position: absolute;
    top: 15px;
    right: 30px;
    transition: all 200ms;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.createClass__input,
.joinClass__code {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 18px;
}

.createClass__submit {
    background-color: #2b7dea;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
}

.createClass__submit button {
    background-color: #2b7dea;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.joinClass {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding: 0 24px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
}
.joinClass__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #e0e0e0;
    padding: 0.5rem 1rem;
    width: 98vw;
}

.joinClass__wraper2 {
    height: 48px;
    color: #5f6368;
    fill: #5f6368;
    display: flex;
    align-items: center;
}
.joinClass__topHead {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #80868b;
    margin-left: 1rem;
}
.joinClass__svg {
    cursor: pointer;
}
.joinClass__btn {
    width: 80px !important;
    height: 40px !important;
    background: #2b7dea;
    color: #e7e7e7;
    font-size: 1rem;
    border: #2b7dea;
    border-radius: 7px;
    text-transform: uppercase;
}
.joinClass__form {
    margin-top: 1rem;
    max-width: 35rem;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.joinClass__formText {
    color: #7f7f7f;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}
.joinClass__loginInfo {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}
.joinClass__loginName {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.joinClass__loginEmail {
    letter-spacing: 0.025em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    color: #5f6368;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.joinClass__loginText {
    margin-left: 15px;
    width: 80%;
}
.joinClass__classLeft {
    display: flex;
}

.closeJoin {
    position: absolute;
    top: 22px;
    left: 20px;
    transition: all 200ms;
    font-size: 35px;
    font-weight: 200;
    text-decoration: none;
    color: #80868b;
}

.logout {
    background: #f0f0f0;
    color: #2b7dea;
    border: #f0f0f0;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.note {
    margin-top: 25px;
}

.joinClass__li:first-child {
    margin-top: 5px;
    margin-bottom: 5px;
}

.inside {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.inside__list {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    height: 18.375rem;
    margin-bottom: 30rem;
    margin-right: 30rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 18.75rem;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.inside__imgWrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #174ea6;
}
.inside__image {
    background-image: url(https://gstatic.com/classroom/themes/Physics.jpg);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.inside__container {
    position: relative;
}
.inside__content {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 7rem;
    padding: 1rem 1rem 0.75rem;
    position: relative;
}
.inside__title {
    color: white;
    font-family: 'Roboto';
    text-decoration: none;
}
.inside__title h2 {
    font-weight: 400;
}
.inside__title h2:hover {
    text-decoration: underline;
}
.inside__owner {
    color: white;
    font-weight: 400 !important;
    font-size: 15px !important;
}
.inside__avatar {
    float: right;
    height: 4.6875rem !important;
    position: relative !important;
    margin-top: -3.09375rem !important;
    width: 4.6875rem !important;
    text-align: left;
    border-radius: 50px;
    margin-right: 20px;
}
.inside__bottom {
    margin-top: 35%;
    display: flex;
    color: #5f6368;
    justify-content: flex-end;
    border-top: 0.2px solid #e0e0e0;
    padding: 10px;
}
.inside__bottom > * {
    margin-right: 20px;
    font-size: 30px;
}

.inside__close {
    color: #f0f0f0;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 20px;
    transition: all 200ms;
}

.main__wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * 1.5rem);
    max-width: 62.5rem;
}
.main__content {
    background-color: #1967d2;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    overflow: hidden;
}
.main__wrapper1 {
    height: 15rem;
    position: relative;
    width: 100%;
}
.main__bgImage {
    background-image: url(https://gstatic.com/classroom/themes/img_backtoschool.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.main__emptyStyles {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: radial-gradient(
        25rem 18.75rem ellipse at bottom right,
        #4285f4,
        transparent
    );
}
.main__text {
    position: relative;
    padding: 1.5rem;
}
.main__heading {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    color: #fff;

    margin: 0;
}
.main__overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.main__section {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #fff;
}
.main__wrapper2 {
    color: #fff;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.main__code {
    font-weight: 500;
    font-style: normal;
}
.main__announce {
    display: flex;
    /* justify-content: center; */
    flex-shrink: 0;
    margin-top: 1rem;
}
.main__announcements {
    padding: 1rem;
    overflow: hidden;
    margin: -2.4rem;
    margin-left: 1rem;
    width: 800px;
    /* margin-top: 1.5rem; */
}
.main__subText {
    margin-top: 1.5rem;
    color: #807373;
    font-weight: 400;
}
.main__status {
    border: 1.5px solid #dadce0;
    padding: 20px;
    border-radius: 10px;
    width: 15vw;
    height: 25vh;
}
.main__announcementsWrapper {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
    border-radius: 0.5rem;
    overflow: hidden;
    min-height: 4.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.main__ancContent {
    padding: 30px;
    width: 65vw;
    color: rgba(0, 0, 0, 0.549);
}

.main__wrapper100 {
    display: flex !important;
    cursor: pointer;
    align-items: center;
}
.main__wrapper100 > * {
    margin-right: 20px;
}
#filled-multiline-flexible {
    width: 53.5vw !important;
    height: 20vh !important;
    border-radius: 5px;
    border: none;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main__buttons {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-top: 20px;
}

.main__buttons button {
    margin-right: 15px;
    border: none;
    padding: 5px 13px;
    border-radius: 5px;
}

@media only screen and (max-width: 842px) {
    .main__status {
        display: none;
    }
}
