.formLabel {
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input.formControl {
    color: var(--form-text);
    border: 1px solid var(--form-border);
    padding: 0.7rem;
}

input.formControl:focus {
    box-shadow: none;
    border-color: var(--form-border-focus);
}

button.btn {
    padding: 0.8rem 0;
}

label.labelRadio {
    color: var(--form-text);
    transition: all 0.3s;
}

label.labelRadio:hover {
    color: var(--form-label-hover);
}
