.classModal.modal {
    margin-top: 3rem;
    --bs-modal-width: 50vw;
}

.classModalTitle {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
}

.classModalBtn.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
}
