.updatePostModal.modal {
    --bs-modal-width: 60vw;
}

.updatePostModal h5.modal-title {
    color: #0070c4 !important;
}

.setDeleteModal.modal {
    margin-top: 3rem;
    --bs-modal-width: 50vw;
}

.setModalTitle {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
    color: var(--text-primary);
}

.setModalHeading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
}

.testDeleteModal.modal {
    margin-top: 8rem;
    --bs-modal-width: 30vw;
}

.startTestModal.modal {
    margin-top: 8rem;
    --bs-modal-width: 30vw;
}


@media only screen and (max-width: 768px) {
    .setModalTitle {
        font-size: 1.5rem;
    }

    .setModalHeading {
        font-size: 1.1rem;
    }

    .classModalBtn.btn {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }
}

