/* .nav-pills li a:active{
    border-color: 1px solid #0D6EFD;
} */

.header__admin{
    background-color: #eee;
    border-radius: 10px;
}

#navbar .nav-pills .nav-item a {
	color: #000;
}

#navbar .nav-pills .nav-item a:hover {
	color: #008bff;
    border-color: 1px solid #0D6EFD;
}

.search-admin{
    width: 50% !important;
}

.register-admin{
    padding: 3rem !important;
}

.ava-admin{
    margin-top: -15px;
}

.r-admin{
    padding-right: 1.5rem !important;
}

.form-admin{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-top: 4rem !important;
}

.card-account__container_admin {
    background-color: white;
    border-radius: 1.25rem;
    margin-top: 2rem;
    padding: 2rem;
}

.stt-admin{
    padding-left: 1rem !important;
    padding-right: 3rem !important;
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

@media only screen and (max-width: 768px) {
    .icon-db{
        font-size: 1.5rem;
    }

    .search-admin{
        width: 75% !important;
    }

    .register-admin{
        padding: 0.2rem !important;
    }

    .r-admin{
        padding-right: 0rem !important;
    }

    .form-admin{
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        margin-top: 2rem !important;
    }

    .admin-h5{
        font-size: 15px;
    }

    .admin-h2{
        font-size: 24px;
    }

    .card-account__container_admin {
        padding: 1rem 0rem;
    }
    
    .stt-admin{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    .admin-stt-h3{
        margin-top: 0.2rem;
        font-size: 24px;
    }
    
}
