/* .nav-pills li a:hover{
    background-color: #0D6EFD;
} */

.header__admin{
    background-color: #185ABD;
    /* background-image: linear-gradient(to top, #0f0c29, #302b63, #24243e); */
    border-radius: 10px;
}

