.kanji-search-ul > li {
  list-style-type: square;
}

.gram-dec {
  display: inline-block;
  width: 100%;
  margin: 0 0 10px;
  text-align: left;
  color: #292929;
  font-size: 18px;
  line-height: 25px;
  padding: 20px;
  font-weight: 500;
  background-color: #f7f7f7;
}

.gram-div {
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
  line-height: 20px;
  border-left: 3px solid #55c0f2;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.gram-ul {
  padding-left: 40px;
  margin: 10px 0 30px;
  list-style: none;
}

.gram-ul li {
  line-height: 20px;
  font-size: 18px;
  color: #000;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

ul li {
  list-style-type: none;
}

.grammar-ex-japan {
  display: block;
  margin-top: 5px;
}

.furigana_text {
  text-decoration: none;
}

.japan-font {
  font-family: "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3",
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
    "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック",
    "MS Gothic", sans-serif;
}

#word-detail-overview p {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #2326ec;
}

#word-detail-overview .romaji {
    color: #888;
    font-size: 16px;
    clear: both;
    display: block !important;
    text-align: center;
    margin-top: 5px;
}

#word-detail-overview .kana {
    display: none;
}

.hkanji-wrapbtn a {
    font-size: 18px;
    line-height: 1.3333333;
    color: #636363;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    outline: none;
    text-decoration: none;
    margin-top: -12px;
}

#word-detail-info .word-type {
    color: #333;
    font-size: 18px;
    display: inline-block;
    margin: 5px 0px;
    background: #57545446;
    padding: 3px 10px;
    border-radius: 2px;
}

#word-detail-info > .ol-decimal {
    font-size: 15px;
    font-family: HelveticaLight;
    margin-bottom: 10px;
    margin-top: 15px;
}


#word-detail-info > .ol-decimal > li:before {
    padding-right: 8px;
    color: #555;
    list-style: none !important;
}

#word-detail-info .nvmn-meaning {
    font-size: 19px;
    font-weight: 600;
}

#word-detail-info > .ol-decimal li .ul-disc {
    padding-left: 20px;
}

#word-detail-info .ul-disc {
    margin-left: 15px;
}

#word-detail-info > .ol-decimal li .ul-disc li {
    margin: 10px 0 10px;
    font-size: 18px;
    line-height: 25px;
    color: #292929;
    list-style: none;
    position: relative;
    padding-left: 15px;
}

.setTitle h2, h3{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-bottom: 2.5rem;
}

.navbar-nav{
  display: flex;
  gap: 0;
}



