.setPageContainer {
    margin: 0 auto;
    max-width: 65rem;
    padding: 2.5rem;
}

.setTitle {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    margin-bottom: 2rem;
}

.studyModesItem {
    box-shadow: 0 0.0625rem 0.1875rem 0 #2e385614;
    background: #fff;
    border-bottom: 0.25rem solid #0000;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    transition: all 0.2s;
    text-decoration: none;
}

.studyModesItem:hover {
    box-shadow: 0 0.25rem 1rem 0 var(--shadow-with-opacity);
    border-bottom-color: #dbdfff;
}

.StudyModesIcon {
    color: #4255ff;
}

.studyModesItemName {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.75rem;
    color: var(--text-primary);
}

.setPageInformation {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.setAuthorAvatar {
    border-radius: 50%;
    overflow: hidden;
    height: 48px;
    width: 48px;
}

.setAuthorAvatarTag {
    width: 14px;
    height: 14px;
}

.setAuthorAvatarTag--banned {
    background-color: #fff;
    border-radius: 50%;
}

.setAuthorInfo_createdBy {
    font-size: 0.625rem;
    color: #939bb4;
    display: block;
}

.setAuthorInfo_username {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
}

.setPageOptions {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff;
    color: #586380;
    border: 0.0625px solid #d9dde8;
    border-radius: 5px;
}

.setPageProgress {
    padding-bottom: 2rem;
    border-bottom: 0.0625rem solid #d9dde8;
}

.setPageProgressLink.card {
    box-shadow: 0 0.0625rem 0.1875rem 0 #2e385614;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.15s;
}

.setPageProgressLink.card:hover:not([disabled]) {
    box-shadow: 0 0.25rem 2rem 0 #2e385614;
}

.setPageProgressLink.card:hover:not([disabled]) .setPageProgressLink {
    color: #423ed8;
}

.setPageProgressLink.card[disabled] {
    cursor: default;
}

.setPageProgressLink.card[disabled] .setPageProgressLink,
.setPageProgressLink.card[disabled] .setPageProgressLabel {
    color: #939bb4 !important;
}

.setPageProgressLabel {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
}

.setPageProgressLink {
    font-size: 0.875rem;
    line-height: 1.428;
    font-weight: 600;
    color: #4255ff;
}

.setPageProgress .progress {
    width: 50px;
    height: 50px !important;
    float: left;
    line-height: 150px;
    background: none;
    box-shadow: none;
    position: relative;
}

.setPageProgress .progress:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.setPageProgress .progress.blue:after {
    border: 5px solid #dce0ff;
}

.setPageProgress .progress.yellow:after {
    border: 5px solid #ffe5cd;
}

.setPageProgress .progress.green:after {
    border: 5px solid #d5f9ec;
}

.setPageProgress .progress > span {
    width: 51%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.setPageProgress .progress .progress-left {
    left: 0;
}

.setPageProgress .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.setPageProgress .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.setPageProgress .progress .progress-right {
    right: 0;
}

.setPageProgress .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.setPageProgress .progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    color: #282e3e;
    line-height: 40.9px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.setPageProgress .progress.blue .progress-bar {
    border-color: #4255ff;
}

.setPageProgress .progress.yellow .progress-bar {
    border-color: #ff983a;
}

.setPageProgress .progress.green .progress-bar {
    border-color: #59e8b5;
}

.setPageTermsHeader {
    margin-bottom: 0.625rem;
}

.setPageTermsHeading {
    font-size: 1.25rem;
    letter-spacing: normal;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.setPageTermsHeader_controls button {
    color: var(--text-light);
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
    min-height: 3rem;
    width: 10rem;
    border: none;
}

.setPageTermHeader_dropdown {
    font-size: 0.875rem;
    letter-spacing: 0.25;
}

.setPageTerm {
    background-color: #fff;
    border-radius: 0.25rem;
    min-height: 3.625rem;
    box-shadow: 0 0.125rem 0.25rem #00000014;
    padding: 1rem;
    padding-right: 0;
}

.setPageTerm_termText {
    padding: 0 2rem;
    word-wrap: break-word;
    font-size: 1.1rem;
}

.setPageTerm_termText p,
.setPageTerm_termText ul,
.setPageTerm_definitionText p,
.setPageTerm_definitionText ul {
    margin: 0;
}

.setPageTerm_definitionText {
    padding: 0 2rem;
    word-wrap: break-word;
    font-size: 1.1rem;
}

.setPageTerm_imageWrap {
    height: 6.25rem;
    width: 9.5rem;
}

.setPageTerm_imageWrap img {
    max-height: 100%;
    max-width: 100%;
}

.setPageTerm:hover .setPageTerm_btnGroup {
    display: inline-block;
}

.setPageTerm_btnGroup {
    display: none;
}

.setPageTerm_btn.star svg,
.setPageTerm_btn.star:hover svg {
    color: #ffdc62;
}

.setPage_editCardModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.setPage_noteModal .modal-content {
    overflow: auto;
    margin: 5vh auto;
    border-radius: 0.325rem;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60vw;
    height: 70vh;
}

.setPage_pictureModal .modal-content {
    overflow: auto;
    margin: 5vh auto;
    border-radius: 0.325rem;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60vw;
    height: 70vh;
}

.setPage_audioModal .modal-content {
    overflow: auto;
    margin: 15vh auto;
    border-radius: 0.325rem;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw;
    height: 35vh;
}

.setPage_editCardModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
}

.setPage_editCardModal .close:hover,
.setPage_editCardModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.setPage_noteEditor {
    height: 30vh;
    z-index: 9999999;
}

.setPage_noteEditor .ck.ck-editor__editable_inline {
    border: 1px solid #ccced1;
    border-radius: 2px;
    transition: all 0.1s;
    height: 100%;
    overflow: auto;
    padding: 0 1rem;
}

.setPage_modalOpen {
    overflow: hidden;
}

.assignToClassModal .modal-title {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
}

.assignToClassModal .modal-content {
    min-height: 40vh;
}

.setPage_noteEditor
    .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
    border: 1px solid hsl(218, 81.8%, 56.9%);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) inset, 0, 0;
}

.setPage_noteUploadFile .btn-danger {
    width: 2.5rem;
    height: 2.5rem;
}

.setPage_noteUploadFile img {
    max-height: 25vh;
    max-width: 50%;
}

.setPage_uploadImage {
    height: 100%;
    width: 100%;
    border: 0.125rem dashed #e7e6db;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #e7e6db;
}

.setPage_pictureWrapper {
    width: 100%;
    height: 40vh;
    position: relative;
}

.setPage_pictureWrapper img {
    max-width: 100%;
    max-height: 100%;
}

.setPage_editCardModal .btn.btn-danger {
    position: absolute;
    top: -6px;
    left: -8px;
}

.setPage_audioWrapper {
    position: relative;
}

.kanji-search-ul > li {
    list-style-type: square;
}

.gram-dec {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
    text-align: left;
    color: #292929;
    font-size: 18px;
    line-height: 25px;
    padding: 20px;
    font-weight: 500;
    background-color: #f7f7f7;
}

.gram-div {
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    line-height: 20px;
    border-left: 3px solid #55c0f2;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.gram-ul {
    padding-left: 40px;
    margin: 10px 0 30px;
    list-style: none;
}

.gram-ul li {
    line-height: 20px;
    font-size: 18px;
    color: #000;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.grammar-ex-japan {
    display: block;
    margin-top: 5px;
}

.furigana_text {
    text-decoration: none;
}

.japan-font {
    font-family: 'HiraKakuPro-W3', 'Hiragino Kaku Gothic Pro W3',
        'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo,
        '游ゴシック', YuGothic, 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック',
        'MS Gothic', sans-serif;
}

#word-detail-overview p {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #2326ec;
}

#word-detail-overview .romaji {
    color: #888;
    font-size: 16px;
    clear: both;
    display: block !important;
    text-align: center;
    margin-top: 5px;
}

#word-detail-overview .kana {
    display: none;
}

.hkanji-wrapbtn a {
    font-size: 18px;
    line-height: 1.3333333;
    color: #636363;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    outline: none;
    text-decoration: none;
    margin-top: -12px;
}

#word-detail-info .word-type {
    color: #333;
    font-size: 18px;
    display: inline-block;
    margin: 5px 0px;
    background: #57545446;
    padding: 3px 10px;
    border-radius: 2px;
}

#word-detail-info > .ol-decimal {
    font-size: 15px;
    font-family: HelveticaLight;
    margin-bottom: 10px;
    margin-top: 15px;
}

#word-detail-info > .ol-decimal > li:before {
    padding-right: 8px;
    color: #555;
    list-style: none !important;
}

#word-detail-info .nvmn-meaning {
    font-size: 19px;
    font-weight: 600;
}

#word-detail-info > .ol-decimal li .ul-disc {
    padding-left: 20px;
}

#word-detail-info .ul-disc {
    margin-left: 15px;
}

#word-detail-info > .ol-decimal li .ul-disc li {
    margin: 10px 0 10px;
    font-size: 18px;
    line-height: 25px;
    color: #292929;
    list-style: none;
    position: relative;
    padding-left: 15px;
}

.studyset-col-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
}

.view-card-col-3 {
    flex: 0 0 auto;
    width: 25% !important;
    border-right: 0.125rem solid #f6f7fb;
}

.view-card-col-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
}

@media only screen and (max-width: 768px) {
    .studyset-col-4 {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .setPageTermsHeading {
        font-size: 18px;
    }

    .view-card-col-3 {
        border-bottom: 0.125rem solid #f6f7fb;
    }

    .setPageTerm_termText {
        margin-bottom: 10px;
    }

    .view-card-col-3,
    .view-card-col-8 {
        width: 100% !important;
    }

    .setPageTerm_definitionText {
        margin-top: 5px;
    }

    .setPage_audioModal .modal-content {
        width: 90vw;
        height: 50vh;
    }

    .setPage_pictureModal .modal-content {
        width: 90vw;
        height: 60vh;
    }

    .setPage_noteModal .modal-content {
        width: 90vw;
    }
}

/* delete set */
.setDeleteModal.modal {
    margin-top: 3rem;
    --bs-modal-width: 50vw;
}

.setModalTitle {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
    color: var(--text-primary);
}

.setModalHeading {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
}

@media only screen and (max-width: 768px) {
    .setModalTitle {
        font-size: 1.5rem;
    }

    .setModalHeading {
        font-size: 1.1rem;
    }
}

/* assign study set to class */
.assignClass_btn {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 1rem 1.5rem;
}

.assignClass_btn:hover {
    background-color: #f6f7fb;
}

.assignClass_btn svg {
    color: #939bb4;
}
