.ojn81eb {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.AssemblyInput {
    -webkit-box-pack: center;
    background-color: #f6f7fb;
    border-radius: 0.5rem;
    color: #586380;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    overflow: hidden;
    padding: 0.25rem 1rem;
    position: relative;
}

.AssemblyInput-input {
    appearance: none;
    background-color: initial;
    border: none;
    box-shadow: none;
    color: #282e3e;
    cursor: text;
    filter: none;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 600;
}

/* .form-select {
    border: none;
    background-color: #f6f7fb;
    border-radius: 0.5rem;
    color: #586380;
    display: flex;
    flex-direction: column;
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    padding-right: 2rem;
    font-weight: 500;
} */

.d1llavan {
    background-color: #909092;
    border: none;
    height: 0.0625rem;
    margin: 0;
}

.o5jd1da {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-check-input {
    font-size: 1.2rem;
}

.w1gd4v28.svwhkoh {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    margin-top: 2rem;
    position: relative;
}

.p1tur8tp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pr2w5fu:first-child {
    border-right: 0.125rem solid #edeff4;
    padding-right: 1rem;
}

.pr2w5fu:last-child {
    padding-left: 1rem;
}

.a548wz9 {
    color: #939bb4;
    font-size: 1rem;
    font-weight: 600;
}

.albjleu {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.w1uwrq7e {
    border: 0.125rem solid #edeff4;
    border-radius: 0.5rem;
    color: #2e3856;
    cursor: pointer;
    display: grid;
    font-size: 1rem;
    font-weight: 400;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    position: relative;
    width: 100%;
    word-break: break-word;
}

.t1b9wj7u {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.qq5bf7c {
    margin-top: 2rem;
}

.src0sz3.svwhkoh {
    position: relative;
}

.svwhkoh {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem 0 #2e385614;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 0;
    max-width: 52.5rem;
    min-height: 29.25rem;
    padding: 1.5rem 2rem;
    transition: all 0.5s ease;
}

.a1bncmms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 4rem;
    position: relative;
}

.a12odeb9 {
    flex-grow: 0;
    width: 100%;
    z-index: 201;
}

.wlbcmo {
    align-items: center;
    display: flex;
    flex: 1;
}

.t4j019x {
    align-items: stretch;
    cursor: auto;
    flex: 1;
    word-break: break-word;
    display: flex;
}

.l16m64a6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.axo6qs8 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}

.q1sv7y1h {
    margin-top: 1.5rem;
}

.ssy64mv.svwhkoh {
    position: relative;
}

.a1qes7yk {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin: 2rem 0 0;
    display: flex;
}

.AssemblyButtonBase--medium.AssemblyButtonBase--padding {
    padding: 0.5rem 1rem;
}

.AssemblyPrimaryButton--default {
    background: #4255ff;
    color: #fff;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.a1qes7yk > button {
    margin-left: 1rem;
}

.sjl6b1d {
    color: #586380;
    font-size: 1.25rem;
    letter-spacing: normal;
    line-height: 1.4;
    margin-left: 18%;
    margin-bottom: 2rem;
}
