header {
    background-color: var(--header-bg-color);
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.btn.icon-outline-secondary {
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid var(--icon-outline-secondary-border);
    transition: all 0.3s;
}

.btn.icon-outline-secondary:hover {
    border: 1px solid var(--icon-outline-secondary-border-hover);
    background-color: white;
    color: var(--icon-outline-secondary);
}

.btn-avatar {
    border-radius: 50%;
    padding: 0;
}

.avatar {
    border-radius: 100%;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.notifyFilter_btn {
    height: 36px;
    padding: 0 12px;
    font-weight: 600;
    word-wrap: break-word;
    font-size: 0.9375rem;
    line-height: 1.3333;
    word-break: break-word;
    border-radius: 18px;
}

.notifyFilter_btn.active {
    background-color: #e7f3ff;
    color: #1877fe;
}

.notifyFilter_heading {
    font-weight: 600;
    word-wrap: break-word;
    font-size: 1.0625rem;
    color: #050505;
    line-height: 1.1765;
    word-break: break-word;
}

.notifyFilter_subtext {
    font-weight: 400;
    word-wrap: break-word;
    font-size: 1rem;
    color: var(--text-light);
    line-height: 0.875rem;
    word-break: break-word;
}

.notifyFilter_link {
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 0.9375rem;
    color: #216fdb;
    line-height: 1.3333;
    font-weight: 400;
    word-break: break-word;
    border-radius: 4px;
    padding: 0.275rem 0.5rem;
    cursor: pointer;
}

.notifyEmpty {
    max-width: 80%;
    max-height: 150px;
}

.notifyFilter_link:hover {
    background-color: #f2f2f2;
}

.dropdown .dropdown-menu {
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.3s;
    z-index: 9999;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-header {
    color: var(--text-primary);
}

.dropdown-header p {
    margin: 0;
}

.dropdown-menu .dropdown-item {
    color: var(--blue-42);
}

.dropdown-menu .dropdown-divider {
    border-top: 1px solid var(--border);
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.search .form-control {
    border: none;
    background-color: var(--bg-color);
}

.search {
    background-color: var(--bg-color);
    border-radius: 1.25rem;
    border: 1px solid var(--border);
}

.search .form-control:focus {
    background-color: var(--bg-color);
}

.btn.show.notify_btn {
    color: var(--icon-outline-secondary);
}

.notifications {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications-item.dropdown-item {
    display: flex;
    padding: 5px 4px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 4px;
}

.notifications-item:hover {
    background-color: #eee;
}

.notifications-item h4 {
    font-size: 16px;
    margin-top: 3px;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0;
}

.notifications_read {
    color: #65676b !important;
}

.notifications-item span {
    color: #aaa;
    margin: 0;
    line-height: 1.3333;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.notify_content {
    font-size: 0.9375rem;
}

.notify_datetime {
    font-size: 0.8125rem;
}

.header_img {
    margin-right: 3rem !important;
}

.landing-header{
    display: flex !important;
    align-items: center !important;
}

@media only screen and (max-width: 768px) {
    header {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .header-css {
        display: contents;
    }

    .btn-avatar > svg {
        width: 3rem;
        height: 3rem;
    }

    .notify_btn > svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    .header_img {
        margin-right: 0.5rem !important;
    }

    .header_navbar {
        border: 0px solid #fff !important;
        border-radius: 0px !important;
    }

    .header-dropdown {
        min-width: 7rem !important;
    }

    .notifications {
        width: 250px;
    }

    .landing-header{
        display: contents !important;
    }

    .landing-btn{
        padding: 0.5rem 0.7rem !important;
    }
}
