.learnQuestionCard {
    min-height: 50vh;
}

.learnTitle {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
    word-wrap: break-word;
}

.learnIncorrectBox {
    background-color: #fff;
    box-shadow: 0 -0.25rem 1rem #2e385614;
    height: 5rem;
    padding: 0 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
}

.learnCorrectAnswer > * {
    margin: 0;
}

.learnExampleSection {
    background: transparent;
    border: 0.125rem dashed #e7e6db;
    border-radius: 0.3125rem;
    box-shadow: none;
    padding: 0.25rem 0.5rem;
}

.learnExample_label {
    font-size: 0.875rem;
    letter-spacing: normal;
    line-height: 1.5;
    color: #939bb4;
}

.learnFinish {
    text-align: center;
    max-width: 75rem;
}

.learnFinish h2 {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
}

.learnFinish img {
    margin-top: 1rem;
    max-width: 100%;
    max-height: 15rem;
}

.learnFinish_btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    border-radius: 0.5rem;
    font-weight: 600;
    min-height: 3rem;
    transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
    width: 16.875rem;
    z-index: 10;
}

.learnFinish_btn--light {
    background: #fff;
    border: 0.0625rem solid #d9dde8;
    color: #586380;
}

.learnFinish_btn--light:hover {
    background: #edeff4;
}

.learnFinish_btn--primary {
    background: #4255ff;
    color: #fff;
}

.learnFinish_btn--primary:hover {
    background: #423ed8;
}

.learnEndProgressContainer {
    background-color: #fff;
    width: 100vw;
    padding: 3rem 2rem 3rem 0;
}

.learnEndProgress {
    max-width: 80vw;
    margin: 0 auto;
}

.learnEndProgress h2 {
    font-size: 2rem;
    letter-spacing: normal;
    line-height: 1.25;
    font-weight: 700;
}

.learnEndProgressNumber {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 600;
    color: #586380;
}

.learnEndTerms {
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 10rem;
}

@media only screen and (max-width: 768px) {
    .learnFinish_btn {
        width: 8.875rem;
        font-size: 0.875rem;
        padding: 0.5rem;
    }
}