*{
    font-size: 1rem;
}
.classes-search {
    background-color: white;
    border-radius: 0.5rem;
    color: var(--text-light);
    padding: 0.25rem 1rem;
}

.classes-search:focus-within {
    border-color: var(--form-border-focus);
    box-shadow: 0 0 0 0.25rem var(--form-check-shadow);
}

.search-control {
    font-size: 1rem;
    line-height: 1.5;
    appearance: none;
    background-color: initial;
    border: none;
    color: var(--text-bold);
    font-weight: 600;
    padding: 0.6rem 0;
}

.search-control:focus {
    outline: 0;
}

.author-username{
    display: block;
}

.inside__close {
    color: #282E3E;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    top: -60px;
    right: -95%;
    transition: all 200ms;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}