body {
    background-color: #fff !important;
}

h5 {
    color: var(--text-light) !important;
}

.form label {
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form .form-control {
    padding: 1rem;
    border: 1px solid var(--form-border);
    
}

.form .form-control:focus {
    border-color: var(--form-border-focus);
}
