.emptyPosts_container img {
    width: 10rem;
}

.emptyPosts_heading {
    color: rgb(25, 103, 210);
    margin-bottom: 0.5rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.emptyPosts_content {
    letter-spacing: 0.02;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.postAuthorImg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.postAuthor {
    color: var(--text-primary);
    text-decoration: none;
    letter-spacing: 0.017;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.postCreatedDate {
    color: var(--text-light);
    letter-spacing: 0.025;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}

.post__content {
    margin: 10px 15px;
}
