.postAuthorImg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.postAuthor {
    letter-spacing: 0.017;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.postCreatedDate {
    color: var(--text-light);
    letter-spacing: 0.025;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}

.post__content {
    margin: 10px 15px;
}

.post__top > img,
.comment__top > img {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    margin-left: 10px;
}

.post__img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.post__container .post__button {
    color: black;
    position: absolute;
    margin-left: 55%;
    background-color: white;
    border: none;
}

.post__button button {
    background-color: white;
    border: none;
}
